*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    background: #1D202B;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
 
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    /*Grid*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;



    /*Flexbox*/
   /* display: flex;
    gap: 20px;*/

}

h3{
    font-size: 24px;
    padding: 20px 0;
    text-transform: capitalize;
    
}

.contenedor-art{


/*Flexbox
width: 70%;
display: flex;
flex-wrap: wrap;
gap: 20px;*/

/*Grid*/
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.card{
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    
    /*flexbox
    width: 30%;*/
}
.card .textos{
    height: 100%;

   /* Flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*grid*/
   /* display: grid;
    grid-template-rows: 1fr auto;*/

    

}
.banner{
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
   
   /*Flexbox
    width: 30%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*Grid*/
    /*display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;*/

}

.banner ul{ 
    list-style: none;
   
}
.banner ul li{
    margin: 15px;
    font-weight: bold;
}

.banner .boton{
    background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
    transition: all .3s ease;
}

.banner .boton:hover {
    background: #b19507;
}